@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,700;1,700&display=swap");

@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-gray-20: "#F8F4EB";
  --color-gray-50: "#EFE6E6";
  --color-gray-100: "#DFCCCC";
  --color-gray-500: "#5E0000";
  --color-primary-100: "#FFE1E0";
  --color-primary-300: "#FFA6A3";
  --color-primary-500: "#FF6B66";
  --color-secondary-400: "#FFCD5B";
  --color-secondary-500: "#FFC132";
  --content-evolvetext: "url('./assets/EvolveText.png')";
}

html,
body,
#root,
.app {
  height: 100%;
  font-weight: 100%;
  font-family: "DM Sans", sans-serif;
  background-color: #ffece0;
  background-color: bg-gray-20;
}
